<div class="container p-4">

  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path cocktail.photo %>)">
    <%= link_to cocktail.name, cocktail_path(cocktail.id), class: "name"%>
      </div>
    <% end %>
  </div>
</div>
