// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-image: linear-gradient(rgba(0,0,0.4,0.7), rgba(0,0,0.4,0.8)), url('https://images2.alphacoders.com/134/134862.jpg');
  // background-position: center center;
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
}



// Smallest device
@media  (min-width: 200px) and (max-width: 599px){
  .cards {
    grid-template-columns: 1fr;
    text-align: center;

  }
  .container {
    width: 100%;
  }
  .card-category {
    width: 100%;
    height: 350px;
    background-position: default;

  }

}



// Medium devices (tablets, 768px and up)
@media (min-width: 600px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}



// Extra large devices (large desktops, 1200px and up)
@media (min-width: 900px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
